

/* global classes */

.title-text{
    font: normal bold 50px/72px;
}

.text-uppercase{
    text-transform: uppercase;
}

/*buttons*/

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px; 
}

.button .btn-primary{
    background-color: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition:  background-color 6s ease;
    box-shadow: var(--box-shadow);
}

.button .btn-primary:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button .btn-primary::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: "";
    z-index: -1;
    border-radius: 4px;
}

.button .btn-secondary{
    background-color: white;
    background-clip: padding-box;
    transition: background-color .6s ease;
}

.button .btn-secondary:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

p .para{
    color: var(--text-color);
    font: normal 500 16px/25px;
}
.font-roboto{
    font-family: var(--roboto);
}

button:focus, button:active, button:hover, .btn:active, .btn .active{
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1{
    font: normal bold 39px/40px var(--roboto);
}

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1%;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}